<div class="container text-center">
  <h1 class="m-4 home-title"> Nosso Livro ❤️ </h1>
  <% @capitulos.each do |capitulo| %>
    <div class="my-card mt-5">
      <div class="images">
        <img class="image-secondary object-fit-contain" src="http://img.cancaonova.com/cnimages/canais/uploads/sites/6/2010/08/formacao_harmonia-sexual-entre-o-casal-1600x1200.jpg" alt="image">
        <img class="image-tertiary object-fit-contain" src="https://www.achotendencia.com/wp-content/uploads/2021/06/ideias-fotos-casal-casais-tumblr-26.jpeg" alt="image">
        <img class="image-primary object-fit-contain" src="https://img.freepik.com/fotos-gratis/jovem-casal-romantico-sexy-apaixonado-feliz-na-praia-de-verao-juntos-se-divertindo-usando-maios-mostrando-o-sinal-do-coracao-ao-por-do-sol_285396-6545.jpg" alt="nada">
      </div>
      <div class="container text-center">
        <div class="chapter-body">
          <div class="chapter-title">
            <%= capitulo.title %>
          </div>
          <div class="chapter-details">
            <%#= capitulo.details %>
            AAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
          </div>
          <div class="chapter-date text-end">
            <%= capitulo.data %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
