<div class="title">Nossa História</div>
<div class="my-container">
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaaaapnmviopw nviwu h opdipvn9wf jck noçuerbgth vipu9 fhbgreoug bhavw\nrsb hbocnqoij c9quhc 0qhc 0opdipvn9wf jck noçuerbgth vipu9 fhbgreoug bhavw\nrsb hbocnqoij c9quhc 0qhc 0opdipvn9wf jck noçuerbgth vipu9 fhbgreoug bhavw\nrsb hbocnqoij c9quhc 0qhc 0opdipvn9wf jck noçuerbgth vipu9 fhbgreoug bhavw\nrsb hbocnqoij c9quhc 0qhc 0
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
  <div class="my-cards">
    <div class="my-img">
      <div class="my-title">
        Titulo
      </div>
      <div class="my-text">
        Este é o meu textao aaaa
      </div>
      <div class="my-data">
        29/03/2023
      </div>
    </div>
  </div>
</div>
