.navbar-lewagon {
  justify-content: space-between;
  background: #373D3f
}

.text-navbar {
  color: white;
  font-weight: 700;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
